.menuItemContainer {
  background-color: smokewhite;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  color: black;
}

.menuItemContainer:hover {
  background: lightblue;
}

.SidebarSubMenuItem {
  display: flex;
  background: #f2f2f2;
  padding: 10px 0px;
  padding-left: 2rem;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: black;
}

.SidebarSubMenuItem:hover {
  background: lightblue;
  cursor: pointer;
}
